[sandbox]
PASSPHRASE = your_gdax_sandbox_api_passphrase
API_KEY = your_gdax_sandbox_api_key
SECRET_KEY = your_gdax_sandbox_secret_key
PUSHOVER_APP_TOKEN = your_pushover_app_token
PUSHOVER_USER_KEY = your_pushover_user_key


[production]
PASSPHRASE = your_gdax_api_passphrase
API_KEY = your_gdax_api_key
SECRET_KEY = your_gdax_secret_key
PUSHOVER_APP_TOKEN = your_pushover_app_token
PUSHOVER_USER_KEY = your_pushover_user_key


[smallest_units]
BTC = 0.00000001
ETH = 0.00000001
XLM = 1
LTC = 0.00000001
ZRX = 0.00001
